-f https://download.pytorch.org/whl/torch_stable.html
pillow==9.2.0
torch==1.12.0+cpu
torchvision==0.13.0+cpu
pydantic[email]==1.10.2
fastapi==0.82.0
uvicorn[standard]==0.18.3
python-multipart==0.0.5
aiopath==0.6.10
tpp-guille-santi-commons==0.0.3
motor==3.0.0
odmantic==0.7.1
httpx==0.23.0


