-f https://download.pytorch.org/whl/torch_stable.html
pillow
torch==1.12.0+cpu
torchvision==0.13.0+cpu
pydantic[email]
fastapi
uvicorn[standard]
python-multipart
aiofiles
tpp-guille-santi-commons==0.0.3
python-jose[cryptography]
passlib[bcrypt]
motor
