pillow==9.2.0
pydantic[email]==1.10.2
fastapi==0.82.0
uvicorn[standard]==0.18.3
python-multipart==0.0.5
aiopath==0.6.10
motor==3.0.0
odmantic==0.7.1
httpx==0.23.0
numpy==1.23.2
tensorflow-cpu==2.10.0
keras==2.10.0
